.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizon-space);
  align-items: center;
  position: fixed;
  top: 40px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
}
.screen-header__tilte {
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icons i {
  margin-left: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(180deg);
  }
}
.screen-header__icons .fa-gear:hover {
  animation: rotateCog 3s linear infinite;
}
